@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #a3a7b0;
    background-color: #23272c;
    margin: 0;
    padding: 0;
}