@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');
body {
    background-color: #ffffff;
    color: #6c757d;
    font-family: 'B612', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    color: #1877e0;
    font-weight: bold;
    font-size: 48px;
}

h4 {
    font-size: 18px;
    padding: 0%;
    line-height: 0px;
}

h3 {
    font-size: 22px;
    color: #5a636b;
    padding-bottom: 5px;
    text-align: center;
    margin-top: -3px;
}

h5 {
    font-size: 12px;
    padding: 0px;
    line-height: 0px;
}

h6 {
    font-size: 10px;
    padding: 0px;
    line-height: 0px;
}

#last {
    font-size: 12px;
    text-align: center;
}


/*
###############################################################################################################
###############################################################################################################
*/

#left_fix_container {
    text-align: right;
    background-color: white;
    width: 40%;
    
    margin-left: 20px;
}

#right_container {
    float: left;
    width: 30%;
    margin-left: 20px;
    padding: 20px;
    
}

#trends_container {
    float: right;
    width:250px;
    margin-right:16px;
    text-align: center;
    position: relative; top:-100px;
}


#StatusConfirmed {
    float: left;
    margin: 0px 5% 0px 8%;
    color: #ff073a;
}

#StatusRecovered {
    float: left;
    margin: 0px 5%;
    color: #28a745;
}

#StatusDeceased {
    float: left;
    margin: 0px 5%;
    color: #6c757d;
}

#StatusActive {
    float: left;
    margin-left:5%;
    color: #00c3ff;
}

.dash-spreadsheet-container {
    float: left;
    
    margin-right: 8px;
    width: inherit;
}

.dash-spinner {
    color: #161625;
}

#dropdown {
    height: 36px;
    width: 100%;
    position: relative; top:-100px;
}

#tabs_top{
    position: relative; top:-100px;
}

#graph_right_side {
    float: right;
    width: 100%;
    position: relative; top:-100px; 
}

#scatter_graph_bottom {
    float: right;
    width:100%;
    position: relative; top:-170px;
}

#india_map{
    float:left;
    margin-top:-50px;
    
    position: relative; top:-100px;
}

#left_table {
    font-weight: bold;
}

a:link,
a:visited {
    text-decoration: none;
    color: white;
    margin: 10px;
}

li {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.Card {
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 5px;
    text-align: center;
    
}

.CollegeAn .Card {
    background-color: #33d1ff;
}

.CollegeAn .Card:hover {
    background-color: #04c7ff;
}

.cards {
    width: 100%;
    text-align: center;
    position: relative; top:-200px;
}

.Gov .Card {
    background-color: #46c19c;
}

.Gov .Card:hover {
    background-color: #3aaf8c;
}

.WHO .Card {
    background-color: #f1c0e7;
}

.WHO .Card:hover {
    background-color: #edafe0;
}

.CollegeAn {
    float: left;
    width: 30%;
    margin-left: 40px;
}

.Gov {
    float: left;
    width: 30%;
    margin-left: 40px;
}

.WHO {
    float: left;
    width: 30%;
    margin-left: 40px;
}

.CollegeAn h2 {
    color: #4560ca;
}

.Gov h2 {
    color: #30b860;
}

.WHO h2 {
    color: #f23c8d;
}

#choropleth {
    float: left;
}


#Confirmed_per {
    background-color: #ffe0e6;
    color: #ff3860;
    float:right;
    width:100%;
    margin-bottom: 16px;
}


#Active_per {
    background-color: #eff7ff;
    color: #007bff;
    width: 100%;
    float:right;
    margin-bottom: 16px;
}

#Mortality_rate {
    background-color: #f6f6f7;
    color: #6c757d;
    width: 100%;
    float:right;
    margin-bottom: 16px;

}

#Recovery_rate {
    background-color: #e4f4e8;
    color: #28a745;
    width: 100%;
    float:right;
    margin-bottom: 16px;
}


#Confirmed_per H3 {
    color: #ff3860;
}

#Active_per H3 {
    color: #007bff;
}

#Mortality_rate H3 {
    color: #6c757d;
}

#Recovery_rate H3 {
    color: #28a745;
}

#population,
#pop {
    text-align: center;
    margin-left: 20px;
}

@media screen and (max-width: 800px) {
    #left_fix_container {
        width: 100%;
    }
    #right_container {
        width: 100%;
    }
}
